<form [formGroup]="renewPasswordForm" (ngSubmit)="submitForm(renewPasswordForm)">
    <div class="form-group">
        <label for="oldPassword">Old Password</label>
        <input id="oldPassword" formControlName="oldPassword" class="form-control" type="password">
        <div class="alert alert-danger" *ngIf="oldPassword.touched && !oldPassword.valid">
            <div *ngIf="oldPassword.errors?.required">Old password is requied</div>
            <div *ngIf="oldPassword.errors?.validateOldPassword">Old password is incorrect</div>
        </div>
    </div>
    <div class="form-group">
        <label for="newPassword">New Password</label>
        <input formControlName="newPassword" class="form-control" type="password">
        <div class="alert alert-danger" *ngIf="newPassword.touched && !newPassword.valid">
            <div *ngIf="newPassword.errors?.required">New password is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input formControlName="confirmPassword" class="form-control" type="password">
        <div class="alert alert-danger" *ngIf="confirmPassword.touched && !confirmPassword.valid">
            <div *ngIf="confirmPassword.errors?.required">New password is required</div>
        </div>
    </div>
    <div class="alert alert-danger" *ngIf="confirmPassword.valid && !renewPasswordForm.valid">
        <div *ngIf="renewPasswordForm.errors?.validateConfirmAndNewPassword">Passwords don't match.</div>
    </div>
    <button class="btn btn-primary">Change Password</button>
</form>

