<form [formGroup]="renewPasswordForm" (ngSubmit)="submitForm(renewPasswordForm)">
    <div class="form-group">
        <label for="oldPassword">Old Password</label>
        <input id="old" formControlName="old" class="form-control" type="password">
        <div class="alert alert-danger" *ngIf="old.touched && !old.valid">
            <div *ngIf="old.errors?.required">Old password is requied</div>
            <div *ngIf="old.errors?.validateOldPassword">Old password is incorrect</div>
        </div>
    </div>
    <div class="form-group">
        <label for="newPassword">New Password</label>
        <input formControlName="newPass" class="form-control" type="password">
        <div class="alert alert-danger" *ngIf="newPass.touched && !newPass.valid">
            <div *ngIf="newPass.errors?.required">New password is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input formControlName="confirm" class="form-control" type="password">
        <div class="alert alert-danger" *ngIf="confirm.touched && !confirm.valid">
            <div *ngIf="confirm.errors?.required">New password is required</div>
        </div>
    </div>
    <div class="alert alert-danger" *ngIf="renewPasswordForm.touched && confirm.touched && newPass.touched && !renewPasswordForm.valid">
        <div *ngIf="renewPasswordForm.errors?.validateConfirmAndNewPassword">Passwords don't match.</div>
    </div>
    <button class="btn btn-primary">Change Password</button>
</form>

