<form #f="ngForm" (ngSubmit)="submit(f)">
    <div class="form-group">
    <label for="name">Course Name</label>
        <input 
            required 
            minlength="3" 
            class="form-control" 
            ngModel 
            #name="ngModel" 
            (change)="log(name)" 
            type="text" 
            name="name">
        <div class="alert alert-danger" *ngIf="!name.valid && name.touched" >
            <div *ngIf="name.errors.required">Course name is required</div>
            <div *ngIf="name.errors.minlength">Required minimum {{ name.errors.minlength.requiredLength }} characters</div>
        </div>
    </div>
    <div class="form-group">
        <label for="category">Category</label>
        <select required ngModel #category="ngModel" id="category" name ="category" class="form-control">
            <option value=""></option>
            <option *ngFor="let category of categories" [value]="category.id">
                {{ category.name }}
            </option>
        </select>
        <div class="alert alert-danger" *ngIf="category.invalid && category.touched">
            <div>Category is required.</div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Create</button>
    <div class="checkbox">
        <label>
            <input ngModel name="moneyBack" type="checkbox">
            30-days money-back guarentee    
        </label>
    </div>
    <p>
        {{ f.value | json }}
    </p>
</form>